h1 {
  text-align: center;
  color: #d90368;
}
.homeImg {
  height: 15;
  display: block;
  margin: auto;
 
}
.placesImg{
  display: block;
  width: 800px;
  max-width: 60%;
  margin: auto;
}
nav {
  background-color: #ffd400;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: #d90368;
  font-size: 1.5em;
}

nav a:hover {
  color: #f1e9da;
  text-decoration: none;
}
body {
  background-color: #541388;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #f1e9da;
}

a {
  color: #d90368;
}
a:hover {
  color: #f1e9da;
}
.comrat {
  color: #5e50b9;
}
